{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>GreenData - Cultivos</title> 
</head>
<body>

    {% include "header.html" %}

    <div class="home">
        <h1 class="table-title">Crear Cultivo</h1>

        <div>
            <form method='POST' enctype="multipart/form-data" class="crud-container">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                </table>
                <button type='submit' class='add-button'>Agregar</button>
            </form>
        </div>
    </div>

    {% include "footer.html" %}

</body>
</html>