{% load static %}

    <footer>
        <div class="f-container">
            <div class="col-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, iure possimus alias sint facere,
                non pariatur sed quo vitae impedit nesciunt, reprehenderit iste quae eveniet totam deleniti
                necessitatibus distinctio debitis.
                </p>
            </div>
            <div class="col-2">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Categorías</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Servicios</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>Conoce más</h3>
                <ul>
                    <li><a href="#">Compromiso con el entorno</a></li>
                    <li><a href="#">Gestión</a></li>
                    <li><a href="#">Sostenibilidad</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Newsletter</h3>
                <form>
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="Ingresa tu correo aquí" required>
                    <button><i class="bi bi-arrow-return-right" title="Enviar"></i></button>
                </form>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
