{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>GreenData - Inicio</title> <!--cambiar inicio por algún slogan(?)-->
</head>
<body>
    
    {% include "header.html" %}

    <div class="home">
        <h1>Panel de Estadísticas Agrícolas</h1>

        <div class="dashboard">
            <a href="{% url 'list_empleados' %}" class="card-link">
                <div class="card agricultores">
                    <h3>Empleados</h3>
                    <div class="value">
                        {{ empleados.count }}
                    </div>
                </div>
            </a>
            <a href="{% url 'list_cultivos' %}" class="card-link">
                <div class="card cultivos">
                    <h3>Cultivos</h3> <!-- solo activos, crear nuevo atributo, fecha de cosecha
                                        podría ser null -->
                    <div class="value">
                        {{ c_format }}
                    </div>
                </div>
            </a>
            <a href="{% url 'list_pla_usados' %}" class="card-link">
                <div class="card plasticos-usados">
                    <h3>Plásticos Usados (kg)</h3>
                    <div class="value">
                        {{ pla_usados }}
                    </div>
                </div>
            </a>
            <a href="{% url 'list_pla_desechados' %}" class="card-link">
                <div class="card plasticos-desechados">
                    <h3>Plásticos Desechados (kg)</h3>
                    <div class="value">
                        {{ pla_desechados}}
                    </div>
                </div>
            </a>
        </div>

        <div class="table-container">
            <h2>Detalle de Cultivos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tipo de cultivo</th>
                        <th>Fecha de siembra</th>
                        <th>Fecha de cosecha</th>
                        <th>Temporada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cultivos %}
                    <tr>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.fecha_siembra }}</td>
                        <td>{{ c.fecha_cosecha }}</td>
                        {% if c.temporada == 1 or c.temporada == 2 or c.temporada == 3 %}
                            <td>Verano</td>
                        {% elif c.temporada == 4 or c.temporada == 5 or c.temporada == 6 %}
                            <td>Otoño</td>
                        {% elif c.temporada == 7 or c.temporada == 8 or c.temporada == 9 %}
                            <td>Invierno</td>
                        {% elif c.temporada == 10 or c.temporada == 11 or c.temporada == 12 %}
                            <td>Primavera</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <!--mapa :(-->

    </body>
    {% include "footer.html" %}
</html>